# MongoDB Atlas
MONGO_URI=MONGO_URI=mongodb+srv://usuario_db_user:SUA_SENHA_DO_MONGODB@cluster0.qyzghmt.mongodb.net/desafio_nosql?retryWrites=true&w=majority
# Redis Cloud
# Use apenas a URL após "redis-cli -u".
REDIS_URL=redis://default:SUA_SENHA_REDIS@home-oaken-wing-77993.db.redis.io:14540
